{% extends "finance/finance-base.html" %}

{% block src-javascript %}
<script type="text/javascript" language="JavaScript" src="/js/json2_min.js"></script></script>
<script type="text/javascript" language="JavaScript" src="/js/webapps/finance/edit_budget.js"></script>
{% endblock %}

{% block on-load %}

{% for i in items %}
budgetitem({
	'name' : '{{ i.name|escapejs }}',
	'description' : '{{ i.description|escapejs }}',
	'requested' : '{{ i.requested|escapejs }}'
});
{% endfor %}

budgetID = '{{ budget.id }}';

{% endblock %}

{% block content %}
<div class="row-extra-padding">
    <h2 class="">
        here is that budget editing form you requested
    </h2>
    <p class="text-muted lead">
        you're welcome
    </p>
</div>
<fieldset class="create-budget-fieldset" id="create-budget-fieldset" >
<legend class="create-budget-legend">Create Budget</legend>
<form class="create-budget-form" method="post" action="/webapps/finance/submit_budget/create/" onsubmit="return false;">

<div class="row">
<div class="col-lg-3 col-md-3 col-sm-3">
  <h2> Create a Budget </h2>
  <p class="lead"><span class="text-muted-darker">First, we need some basic info.</span></p>
</div><!-- /.col-lg-3 ... -->
<div class="col-lg-9 col-md-9 col-sm-9">
<div class="table-responsive">
  <table class="table">
  <tr>
    <td class="table-header-alt">
      <span class="glyphicon glyphicon-briefcase"></span>
      Signator
    </td>
    <td> {{user.get_full_name}} </td>

  </tr>
  <tr>
    <td class="table-header-alt">
      <span class="glyphicon glyphicon-paperclip"></span>
      Organization
    </td>
    <td>
    <select name="organization" class="form-control" id="organization_select">
      <option value="{{ org.id }}">{{ org.name }}</option>
    </select>
    </td>
  </tr>

  <tr>
    <td class="table-header-alt">
      <span class="glyphicon glyphicon-info-sign"></span>
      Description
    </td>
    <td>
      <textarea class="form-control" id="description-textarea" name="description"
                placeholder="Provide a general description of your budget request.">{{budget.description}}</textarea>
    </td>
  </tr>
  </table>
</div> <!-- /.table-responsive -->
</div> <!-- /.col-lg-9 -->
</div> <!-- /.row -->

<hr class="featurette-divider">

<!--
<div class="object-div">
  <div class="object-div-title">Signator:</div>
  <div class="object-div-content">{{ user.get_full_name }}</div>
</div>
<div class="object-div">
  <div class="object-div-title">Organization:</div>
  <div class="object-div-content">
    <select name="organization" class="create-budget-organization-input" id="organization_select">
      <option value="{{ org.id }}">{{ org.name }}</option>
    </select>
  </div>
</div>
<div class="object-div">
  <div class="object-div-textarea-title">Description:</div>
  <div class="object-div-textarea-content">
  <textarea class="object-div-textarea" id="description-textarea" name="description">
  {{ budget.description }}
  </textarea>
  </div>
</div>
-->





<fieldset class="add-budget-frameset" id="budget-item-fieldset">
<h2> Budget Items <span class="text-muted">Justify Yo' Spend</span></h2>
<hr class="featurette-divider">
</fieldset>
<div class="">
<button class="btn btn-default btn-block btn-lg" type="submit" onclick="budgetitem({}); return false;">
  <span class="glyphicon glyphicon-plus"></span>&nbsp;
  Add Budget Item
</button>
<button class="btn btn-primary btn-block btn-lg" type="submit" onclick="submit_form(this.parentNode);">
  <span class="glyphicon glyphicon-save"></span>&nbsp;
  Update Budget
</button>

<!-- OLDE EDITE BUTTONES
<input type="submit" value="Update Budget" onclick="submit_form(this.parentNode);"></input>
<input type="submit" id="add-budget-item" value="Add Budget Item"/>
-->

</div>
</fieldset>
</form>
{% endblock %}
