{% extends "finance/finance-base.html" %}

{% block content %}
<div class="col-md-9">
  <div class="jumbotron">
    <h1>Welcome to the Finance Committee Web Application.</h1>
    <p class="lead">For more information about the members of Finance Committee, procedures, forms, etc., click the appealing bar below.
  </p>
      <a href="/senate/Funding" class="btn btn-primary btn-block btn-lg">
        Visit the Finance Committee Senate Wiki &raquo;</a>
  </div> <!-- /.jumbotron -->
</div>
<div class="col-md-3">
    <a href="/webapps/finance/submit_budget" class="btn btn-primary btn-block btn-lg">
      Create a Budget &raquo;</a>
    <br />
    <div class="thumbnail big-money">
      <div class="caption">
        <h3>Meet Big Money</h3>
        <p>Your Head Treasurer</p>
        <p>
           <a href="/senate/Funding#bigmoney" class="btn btn-primary" role="button">
             Wiki
           </a> 
           <a href="/senate/Funding#bigmoney" class="btn btn-default" role="button">
             Email
           </a>
        </p>
      </div>
    </div>
    <div class="thumbnail big-money">
    <!--  <img data-src="holder.js/300x200" alt="..."> -->
      <div class="caption">
        <h3>Money Time</h3>
        <p>Look Up Fin Com Meeting Times</p>
        <p>
           <a href="/senate/Funding#moneytime" class="btn btn-primary" role="button">
             Wiki
           </a> 
        </p>
      </div>
      </div>
  </div> 
</div> <!-- /.jumbotron -->
</div>


<div class="newLine">
<!--
<h2 id="fancy-funding">
Get Funded!
</h2>
-->
</div>
{% endblock %}
