{% extends "finance/finance-base.html" %}

{% block content %}
<div class="row-extra-padding">
	<h3>organization disambiguation</h3>
</div>
<div class="row">
<p>More than one organization matched the search term "{{ searchTerm }}". You can search again, or select one of the matching organizations listed below.</p>
<form name="orgSearch" action="organization_budgets" method="GET">
<input type="text" name="org">
<input type="submit" value="Search">
</form>
</div>

{% for o in orgs %}
  <p class="lead"><a href="organization_budgets?org={{ o.name }}">{{ o.name }}</a></p>
{% endfor %}

{% endblock %}
