.object-div, .object-header-div { 
              overflow: hidden;
 }

.object-div { 
              margin-bottom: 10px;
 }

.object-header-div { 
                     margin-bottom: 2px;
 }

.application-textarea { 
                        height: 200px;
                        width: 500px;
 }
