.submit-success{
    padding: 8px 6px 0px 6px;
    font-style: italic;
    font-size: smaller;
}

.table-header {
    font-variant: small-caps;
    text-align: center;
    font-weight: bold;
}

.btn-primary {
    background-color: rgba(2,79,170,.85);
    border-color: #001124;
}
.btn-primary:hover {
    background-color: rgba(51,2,7,.7);
    border-color: #fe8d88;
}

.simple-center {
    text-align:center;
}

