/* FINANCE PAGES SPECIFIC STYLES */
/*all condensed into one convenient sheet, only loaded in the finance-base template*/
tr.budget-header-row td {
	padding-bottom: 10px;
}

#budget-nav-form {
	margin-bottom: 1em;
	padding-bottom: 10px;
	border-bottom: 1px solid #5e0501;
}

 .budgetitem-textarea 
 { 
    width: 400px;
    height: 200px;
 }

.object-div { 
  overflow: hidden;
  padding-bottom: 1px;
}

.object-fieldset { 
  width: 670px;
}

.object-div-title,
.object-div-textarea-title,
.object-div-small-gap-title,
.object-div-textarea-small-gap-title { 
  float: left;
  width: 150px;
  font-weight: bold;
  padding-top: 1px;
}

.object-div-content,
.object-div-textarea-content { 
  float: left;
}

.object-div-small-gap-title,
.object-div-textarea-small-gap-title { 
  width: 121px;
}

.object-div-textarea-title { 
 
}

.object-div-textarea-content { 
  max-width: 452px; 
  float: left;
  overflow: hidden;
}

.object-div-textarea { 
  height: 200px;
  width: 450px;
}

.object-textarea { 
  width: 650px;
  height: 100px;
  float: right;
}

.object-div-button { 
  float: left;
}

.object-bottom-menu {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-width: 0px;
  border-top-width: 1px;
  border-color: black;
  border-style: solid;
  background-color: #5e0501;
  left: 217px;
  height: 26px;
}

.submitButton {
  float: right;
  padding-right: 1em;
}

<!-- Item -->

.object-item-div { 
  overflow: hidden;
  padding-bottom: 1px;
}

.object-item-div-title,
.object-item-div-textarea-title {
  width: 150px;
  font-weight: bold;
  float: left;
}


.object-item-div-content {
  width: 600px;
  float: left;
}

.object-item-div-textarea-content { 
  width: 600px;
  float: left;
 }
 
 .approved-budget-input-size { 
    width: 30px;
 }
 

