.timeColumn {
	width: 120px;
	margin-left: -35px;
}

.calHeader, .dayHeader {
	font-weight: bold;
	font-size: 18px;
}

#overviewWrapper td {
	min-width: 70px;
}

.timeBlock {
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}

#listingWrapper {
	width: 600px;
}

.listing {
	margin-top: -1px;
	border-top: 1px solid #5e0501;
	border-bottom: 1px solid #5e0501;
}

.listingHour {
	float: left;
	margin-top: 0.5em;
}

.listingInfo {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	margin-left: 5em;
}

.title {
	
	font-size: 18px;
	
}

.listingDescription {
	margin-left: 0.5em;
	margin-bottom: 1.0em;
	margin-top: 0.5em;
}

.spacing {
	padding-bottom: 0.5em;
}

.editListing {
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 0.5em;
	width: 450px;
}

#resultsWrapper {
	margin-top: 1em;
	width: 600px;
}

.result {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
}

.formTitle {
	margin-top: 0.5em;
}

.blurbWrapper {
	width: 600px;
}

.okay {
	font-weight: bold;
	color: #009e06;
}

.error {
	font-weight: bold;
	color: #670009;
}
