{% extends "bb-base.html" %}

{% block html-title %}funding poll{% endblock %}

{% block fancy-header %}funding poll{% endblock %}

{% block app-nav %}
	<li class=""><a href="/webapps/fundingpoll/"><div>home</div></a></li>
	<li class=""><a href="/webapps/fundingpoll/vote"><div><b>vote</b></div></a></li>
	<li class=""><a href="/webapps/fundingpoll/my_registrations/"><div>my reg</div></a></li>
	<li class=""><a href="/webapps/fundingpoll/registered"><div>reg list</div></a></li>
	<li class=""><a href="/webapps/fundingpoll/schedule/"><div>schedule</div></a></li>	
	<li class=""><a href="/webapps/fundingpoll/results"><div>results</div></a></li>
	<li class=""><a href="/webapps/fundingpoll/admin/view_budgets"><div>admin</div></a></li>
{% endblock %}