{% extends "fundingpoll/fundingpoll-base.html" %}

{% block content %}
<div class="row-extra-padding">
    <h2>Current Status</h2> 
    <table class="table table-bordered">
        <tr>
            <th>Stage</th>
            <th>Status</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
        <tr>
            <th>Registration</th>
            {% if reg_open %}
            <td class="success">Open</td>
            {% else %}
            <td class="danger">Closed</td>
            {% endif %}
            <td>{{ fp.start_registration|date:"h:i:s A F d, Y" }}</td>
            <td>{{ fp.end_registration|date:"h:i:s A F d, Y" }}</td>
        </tr>
        <tr>
            <th>Voting</th>
            {% if voting_open %}
            <td class="success">Open</td>
            {% else %}
            <td class="danger">Closed</td>
            {% endif %}
            <td>{{ fp.start_voting|date:"h:i:s A F d, Y" }}</td>
            <td>{{ fp.end_voting|date:"h:i:s A F d, Y" }}</td>
        </tr>
        <tr>
            <th>Budgeting</th>
            {% if budgets_open %}
            <td class="success">Open</td>
            {% else %}
            <td class="danger">Closed</td>
            {% endif %}
            <td>{{ fp.start_budgets|date:"h:i:s A F d, Y" }}</td>
            <td>{{ fp.end_budgets|date:"h:i:s A F d, Y" }}</td>
        </tr>
    </table>
    <h2>Current Time</h2> 
	<p class="lead">{{ time|date:"h:i:s A F d, Y" }}</p>
</div>

{% endblock %}
