<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title>Vote</title>
<link rel="stylesheet" href="/css/webapps/fundingpoll/vote-style.css" type="text/css"></link>
<link rel="stylesheet" href="/css/webapps/fundingpoll/vote-alt-fonts.css" />
<script type="text/javascript" language="JavaScript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<script type="text/javascript" language="JavaScript" src="/js/json2_min.js"></script>
<script type="text/javascript" language="JavaScript" src="/js/webapps/generic/onload.js"></script>
<script type="text/javascript" language="JavaScript" src="/js/webapps/fundingpoll/vote.js"></script>
<script type="text/javascript" language="JavaScript">
	function tallySix() {
		var totalSix = 0;
		var deepSix = 0;
		var topSix = 0;
		for (i = 0; i < document.vote.elements.length; i++) {
			if ((document.vote.elements[i].value == "top_six" || 
				document.vote.elements[i].value == "deep_six") && 
				document.vote.elements[i].checked) {
					totalSix++;
					if (document.vote.elements[i].value == "top_six") {
						topSix++;
					} else {
						deepSix++;
					}
			}
		}
		
		// if they've deep/top sixed six things, disable all the other buttons
		if (totalSix >= 6) {
			for (i = 0; i < document.vote.elements.length; i++) {
				if ((document.vote.elements[i].value == "top_six" || 
					document.vote.elements[i].value == "deep_six") && 
					!document.vote.elements[i].checked) {
						document.vote.elements[i].disabled = true;
				}
			}
		// otherwise, enable them
		} else {
			for (i = 0; i < document.vote.elements.length; i++) {
				if ((document.vote.elements[i].value == "top_six" || 
					document.vote.elements[i].value == "deep_six")) {
						document.vote.elements[i].disabled = false;
				}
			}
		}
		
		$('#top6tot').empty();
		$('#top6tot').append(topSix);
		$('#deep6tot').empty();
		$('#deep6tot').append(deepSix);
		$('#tot6tot').empty();
		$('#tot6tot').append((6-totalSix));
		
		
		setTimeout("tallySix()", 500);
	}
	$(document).ready(function() {
		tallySix();
	});
</script>
</head>

<body>
<div id="sixStatus">
<div id="top6stat">Top 6: <span id='top6tot'>0</span></div>
<div id="deep6stat">Deep 6: <span id='deep6tot'>0</span></div>
<div id="tot6stat">Left: <span id='tot6tot'>0</span></div>
</div>

<div id="wrapper">

<h1>Funding Poll Voting</h1>

<div id="instructions"><p>For each organization, select an option. Each option adds or subtracts points from the organization's funding poll score.<p>
<ul>
	<li>Top 6: +8</li>
	<li>Approve: +2</li>
	<li>No Opinion: 0</li>
	<li>Disapprove: -1</li>
	<li>Deep 6: -4</li>
</ul>

<p>You are limited to a combined total of six Top 6's and Deep 6's. The widget on the right side of the screen keeps track of them for you.</p>
<p>Once your ballot is cast, it can't be modified, so please check it over before hitting Submit.</p>
<p>If you have any questions, problems, concerns, or what-have-you, email <a href="mailto:webmaster@sin.reed.edu">the SIN Webmasters</a>.</p>
</div>
<form name="vote" method="post" action="/webapps/fundingpoll/vote/submit/" onsubmit="return check_form(this);">
{% for f in forgs %}
<div class="org">
<h3> {{ f.organization.name }} </h3>
<p> Signator: {{ f.organization.signator.first_name }} {{ f.organization.signator.last_name }}</p>
{% if f.other_signators %}
<p> Co-Signators: {{ f.other_signators }} </p>
{% endif %}
<p> {{ f.comment|safe }} </p>

<div class="top6 option"> Top 6<input type="radio" value="top_six" name="{{ f.id }}"></div>
<div class="approve option"> Approve<input type="radio" value="approve" name="{{ f.id }}"></div>
<div class="noop option"> No Opinion<input type="radio" value="no_opinion" name="{{ f.id }}" checked="true"></div>
<div class="disapprove option"> Disapprove<input type="radio" value="disapprove" name="{{ f.id }}"></div>
<div class="deep6 option"> Deep 6<input type="radio" value="deep_six" name="{{ f.id }}"></div>
</div>
{% endfor %}
<p><strong>Your votes are final once you submit this page.</p>
<input type="submit" value="Submit"></input>

</form>
</div>
<br>
</body>
</html>
