/* Replaced January, 2014 */

body, p, td, input, select, textarea {
	font-family: Garamond, Georgia, "Times New Roman", Times, serif;
	font-size: 12pt;
}

a {
	text-decoration: none;
}

body { 
	margin: 0px;
	padding: 0px;
}

#app-outer-mat { 
}

#app-body { 
}

#app-body-sideboard { 
	float: left;
	width: 216px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#app-body-inner-sideboard { 
	padding-right: 10px;
	text-align: right;
}

#app-body-sidebar-link-container { 
	text-align: right;
}

#app-header { 
	background-color: #5e0501;
	background-image: url(griffin.png);
	background-repeat: no-repeat;
	background-position: 120px 3px;
	color: white;
	height: 96px;
}

#app-header a {
	color:white;
}

#app-header a:hover {
	color:#cccccc;
}

#app-header-text { 
	padding-top: 1em;
	margin-left: 217px;
	font-size: 17pt;
	font-variant: small-caps;
}

#app-body-content { 
	overflow: hidden;
	border-left: 2px solid #5e0501;	
}
 
#app-body-inner-content {                  
	padding: 10px;
}

.even {
	background-color: #F4E0DD;
}

.button {
	background-color: white;
}

.app-body-sidebar-link-container {
	margin-bottom: 5px;
}

a:link, a.app-body-sidebar-link:link { 
	color: #5e0501;
}

 
a:visited, a.app-body-sidebar-link:visited { 
	color: #5e0501;
}
 
 
a:hover, a.app-body-sidebar-link:hover { 
	border-bottom: 1px solid;
}
 
a:active, a.app-body-sidebar-link:active { 
	color: black;
}

a.app-body-sidebar-link:link, a.app-body-sidebar-link:hover, a.app-body-sidebar-link:visited, a.app-body-sidebar-link:active  { 
	text-decoration: none;
}

#app-footer { 
	float: left;
}

.okay {
	font-weight: bold;
	color: #009e06;
}

.error {
	font-weight: bold;
	color: #670009;
}

/* FINANCE PAGES SPECIFIC STYLES */

tr.budget-header-row td {
	padding-bottom: 10px;
}

#budget-nav-form {
	margin-bottom: 1em;
	padding-bottom: 10px;
	border-bottom: 1px solid #5e0501;
}
