{% extends "sos_grant/sos_grant-base.html" %}

{% block content %}
<!-- {% include "includes/messages.html" %} -->
<div class="row-extra-padding">
  <p class="lead">
    <span class="glyphicon glyphicon-dashboard"></span>
    Welcome <span class="text-muted">to the SOS Grant Admin Dashboard.</span>
  </p>
</div>
<hr>
{% include "includes/messages.html" %}
<form onsubmit="return false;">
<table class="table table-hover table-responsive">
  {% if grant_period %} 
  <thead class="table-header">
    <th>Num Apps</th>
    <th>Applications Open</th>
    <th>Application Deadline</th>
    <th>Created On</th>
    <th>Manage Grant Applications</th>
  </thead>
  <tr>
    <td>{{ grant_period.sos_grant_app_set }}</td>
    <td>{{ grant_period.start_date|date:"m-d-Y" }}</td>
    <td>{{ grant_period.end_date|date:"m-d-Y" }}</td>
    <td>{{ grant_period.created_on|date:"m-d-Y" }}</td>
    <td>
      <button type="submit" class="btn btn-primary btn-sm"
               onclick="window.location = '{% url 'sos_grant:admin_sos_grant_app_list'%}';">
        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;View Applications
      </button>
    &nbsp;
      <button type="submit" class="btn btn-primary btn-sm"
               onclick="window.location = '{% url 'sos_grant:admin_edit_grant_date'%}';">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit Deadlines
      </button>
    &nbsp;
    </td>
  </tr>
  {% else%}
    <td colspan=5>
      <button type="submit" class="btn btn-primary btn-block"
               onclick="window.location = '{%url 'sos_grant:admin_create_grant_date'%}';">
        <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Start a new grant period 
      </button>
    </td>
  </tr>
  {% endif %}
</table>
</form>
{% endblock %}
