{% extends "sos_grant/sos_grant-base.html" %}

{% block content %}
{% include "includes/messages.html" %}

<div class="row-extra-padding">
  <div class="col-md-12 col-sm-12">
    <h2 class="featurette-heading">
        manage your sos grant application here
    </h2>
    <div class="table-responsive">
      <table class="table table-hover table-responsive">
      <thead class="table-header">
      <td>Your Application</td>
      <td>Created On</td>
      <td>Modified On</td>
      <td> Manage </td>
      </thead>
      <tbody>
        <tr>
          <td>{{ grant_app.applicant }}</td>
          <td>{{ grant_app.created_on|date:"h:i A F d, Y" }}</td>
          <td>{{ grant_app.modified_on|date:"h:i A F d, Y" }}</td>
          <td>
            <input class="btn btn-primary btn-sm" type="submit" value="Edit" onclick="window.location = '{% url 'sos_grant:edit_application' %}';"/>

            <input class="btn btn-primary btn-sm" type="submit" value="Delete" onclick="var c = confirm('Are you sure you wish to delete this application?'); if (c) { window.location = '{% url 'sos_grant:delete_application' %}';}"/>
          </td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
