@font-face {
	font-family: Gaspar-Bold;
	src: url('/css/bb-redux/fonts/gaspar/Gaspar_Bold.otf');
}
@font-face {
	font-family: Gaspar;
	src: url('/css/bb-redux/fonts/gaspar/Gaspar_Regular.otf');
}
@font-face {
	font-family: Miama;
	src: url('/css/bb-redux/fonts/Miama/Miama.otf');
}
@font-face {
	font-family: Tryst;
	src: url('/css/bb-redux/fonts/tryst/Tryst-Regular.otf');
}
@font-face {
    font-family: Caudex;
    src: url('/css/bb-redux/fonts/caudex/Caudex-Regular.ttf');
}
@font-face {
    font-family: Kelmscott;
    src: url('/css/bb-redux/fonts/KelmscottRoman/KELMSCOT.ttf');
}
@font-face {
	font-family: Seaside;
	src: url('/css/bb-redux/fonts/seaside/SEASRN.ttf');
}
@font-face {
	font-family: Chunk;
	src: url('/css/bb-redux/fonts/ChunkFive/Chunkfive.otf');
}
@font-face {
	font-family: Pacifico;
	src: url('/css/bb-redux/fonts/pacifico/Pacifico.ttf');
}
@font-face {
    font-family: Capture;
    src: url('/css/bb-redux/fonts/Capture_it.ttf');
}


* {
	margin: 0;
}

html, body {
	padding: 0;
	/*height: 100%;*/
	font-family: Tryst;
	color: #181919;
}

html {
	background-color: #fff;
	background: radial-gradient(circle, #f5f5f5, #fff);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Tryst;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a.disabled {
   pointer-events: none;
   cursor: default;
}

.side-bar {
        overflow: hidden;
	float: left;
	width: 200px;
	margin-right: 25px;
	border-right: #eee solid 1px;
	border-bottom: #eee solid 1px;
	-webkit-transition: margin .4s ease-in;
	-moz-transition: margin .4s ease-in;
	-ms-transition: margin .4s ease-in;
	-o-transition: margin .4s ease-in;
	transition: margin .4s ease-in;

}
	.side-bar hr {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.side-bar ul {
		list-style-type: none;
		padding-left: 0px;
		margin:0;
		box-shadow: 5px 5px 0 #888;
	}
	.side-bar ul li {
		margin: 0;
		font-weight: bold;
		width: 200px;
		height: 50px;
		padding-top:15px;
		padding-left: 10px;
	}
        .side-bar ul li:hover {
	    border-right: solid #666 2px;
        }
	.side-bar ul li a {
		display:inline-block;
		color: #444;
		margin:0;
		padding:0;
		width: 90px;
		height: 40px;
	}
		.side-bar ul li a:hover {
			color: black;
		}
		.side-bar ul li a.active {
			color: #ccc;
		}
		.side-bar ul li a.active:hover {
			color: #ccc;
			text-decoration:none;
		}
	.side-bar ul li div {
		border-radius: 2px;		
		padding-left: 10px;
		display: table-cell;
		vertical-align: middle;
		text-align: left;
		background: transparent;
	}
	.side-bar.hide-bar {
		margin-left: -150px;
		-webkit-transition: margin .4s ease-in;
		-moz-transition: margin .4s ease-in;
		-ms-transition: margin .4s ease-in;
		-o-transition: margin .4s ease-in;
		transition: margin .4s ease-in;
	}

header {
  width: 100%;
  background: transparent;
  padding: 0;
}

	header .app-name {
		float: left;
		margin-left: 220px;
		padding-right: 25px;
		color: #bbb;
		font-size: 2.7em;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-ms-transition: all .5s;
		-o-transition: all .5s;
		transition: all .5s;
	}
		header .app-name.hide-bar {
			margin-left: 10px;
			-webkit-transition: all .5s;
			-moz-transition: all .5s;
			-ms-transition: all .5s;
			-o-transition: all .5s;
			transition: all .5s;
		}
	header .app-nav {
		background: transparent;
		padding: 15px 2px 0 0;
		font-family: Tryst;
		font-size: .85em;
	}
		header .app-nav ul {
			list-style-type: none;
			padding: 0;
		}
		header .app-nav li {
			float: left;
			margin-bottom: 0;
		}
			header .app-nav li div {
				height: 30px;
				width: 70px;
				text-align: center;
				padding: 7px;
				padding-bottom: 0;
				background: transparent;
				color: #428bca;
				-webkit-transition: all .2s ease-in;
				-moz-transition: all .2s ease-in;
				-ms-transition: all .2s ease-in;
				-o-transition: all .2s ease-in;
				transition: all .2s ease-in;
			}
			header .app-nav li div:hover {
				background: #eee;
				border-radius: 10em;
				-webkit-transition: all .2s ease-in;
				-moz-transition: all .2s ease-in;
				-ms-transition: all .2s ease-in;
				-o-transition: all .2s ease-in;
				transition: all .2s ease-in;
			}

	header hr {
		clear: both;
		margin-top: 1px;
		margin-bottom: 0px;
	}
.big-wrap {
	height: auto;
	overflow: hidden;
}
.main {
        margin-bottom: 60px;
	background: transparent;
	float:none;
	width:auto;
	overflow:hidden;
}
.row {
	padding: 20px 10px 20px 20px;
	background: transparent;
}
.row-condensed {
    padding: 15px 10px 0px 20px;
    background: transparent;
}
.row-extra-padding {
    padding: 40px 20px 20px 30px;
    background: transparent;
}
.row-border {
	padding: 20px 10px 20px 20px;
	border-bottom: solid #eee 1px;
	background: white;
}
.info-links {
	padding: 20px;
}
	.info-links a {
		display:inline-block;
	}
/*.row {
	background:transparent;
	width: 100%;
	margin: 10px 0 30px 0;
}*/

.center-me {
	width: 90%;
	margin: 0 auto;
}
/* da footer*/
footer {	
	position: fixed;
	bottom: 0;
	width:100%;
	display: table-cell;
	vertical-align: bottom;
	color:black;
	padding-top: 5px;
	text-align:right;
	background: white;
	background: rgba(255,255,255,.8);
}
	footer .footer-item {
		display:inline-block;
		background: transparent;
		font-size: .9em;
		color: black;
		margin: 0 10px;
	}
		footer .footer-item p {
			width: 100%;
			word-wrap: break-word;
			font-size:.8em;
			padding:2px;
			margin: 0;
		}

/*Font styles*/
.smaller {
	font-size: .8em;
}
.normal {
	font-size: 1em;
}
.larger {
	font-size: 1.35em;
}
.large-ass {
	font-size: 3em;
}
.gasp-b {
	font-family: Gaspar-Bold;
}
.gasp {
	font-family: Gaspar;
}
.miama {
	font-family: Miama;
}
.pacifico {
    font-family: Pacifico;
}
.capture {
  font-family: Capture;
}
.center {
	text-align: center;
}
.right {
    text-align: right;
}
.sin-black {
	color: #181919;
}
.sin-white {
	color: #fbfffd;
}
.sin-muted {
	color: #bbb;
}
.std-shadow {
 	text-shadow: 2px 0px 2px #888;
}
.less-shadow {
	text-shadow: 1px 0px 1px #888;
}
.no-shadow {
	text-shadow: 0 0 0 #fff;
}
/*Misc pad and margin*/
.pad {
	padding: 10px;
}
.marg {
	margin: 10px;
}


.mint-blue {
	color: #DBFEF8;
}
.blue-ice {
	color: #DAF4F0;
}
/*army uniform is dark*/
.army-uniform {
	color: #353F3E;
}
.muted-moon {
	color: #DBE6E0;
}
.muted-brushed-aluminum {
	color: #B6C5BE;
}
.isle-royale {
	color: #426352;
}
.fishermans-float {
	color: #607C6E;
}
.honeydew {
	color: #F0FFF0;
}


/* Keep emoji scaling with text */
img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}
