@font-face {
	font-family: Gaspar-Bold;
	src: url('/css/bb-redux/fonts/gaspar/Gaspar_Bold.otf');
}
@font-face {
	font-family: Gaspar;
	src: url('/css/bb-redux/fonts/gaspar/Gaspar_Regular.otf');
}
@font-face {
	font-family: Miama;
	src: url('/css/bb-redux/fonts/Miama/Miama.otf');
}
@font-face {
	font-family: Tryst;
	src: url('/css/bb-redux/fonts/tryst/Tryst-Regular.otf');
}
@font-face {
    font-family: Caudex;
    src: url('/css/bb-redux/fonts/caudex/Caudex-Regular.ttf');
}
@font-face {
    font-family: Kelmscott;
    src: url('/css/bb-redux/fonts/KelmscottRoman/KELMSCOT.ttf');
}
@font-face {
	font-family: Seaside;
	src: url('/css/bb-redux/fonts/seaside/SEASRN.ttf');
}
@font-face {
	font-family: Chunk;
	src: url('/css/bb-redux/fonts/ChunkFive/Chunkfive.otf');
}
@font-face {
	font-family: Pacifico;
	src: url('/css/bb-redux/fonts/pacifico/Pacifico.ttf');
}
@font-face {
    font-family: Capture;
    src: url('/css/bb-redux/fonts/Capture_it.ttf');
}


* {
	margin: 0;
}

html, body {
	padding: 0;
	font-family: Tryst;
	color: #181919;
}

html {
	background-repeat: no-repeat;
	background-attachment: fixed;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Tryst;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a.disabled {
   pointer-events: none;
   cursor: default;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 210px;
  border-right: 1px solid #F1F1F1;
  font-size: 16px;
  overflow: scroll;
}

.sidebar .logo {
  text-align: center;
  font-size: 78px;
}

.sidebar .current-user {
  width: 100%;
  text-align: center;
  padding: 25px 15px 15px 15px;
  font-size: 14px;
  background: white;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 10px 10px 10px 25px;
}

.sidebar .app-link li:hover, .sidebar .app-link.active li:hover {
  background: #2c3e50;
}

.sidebar .app-link.active li {
  margin-bottom: 5px;
}

.sidebar .app-link {
  color: #34495e;
}

.sidebar .app-link:hover {
  color: #ecf0f1;
}

.sidebar .app-link:visited, .sidebar .app-link:active {
  text-decoration: none;
}

.sidebar .app-link.active li {
  background: #ECECEC;
}

.sidebar .secondary-nav a {
  font-size: 12px;
}

.sidebar .secondary-nav li {
  padding: 5px 10px 5px 45px;
}


.sidebar ul .glyphicon {
  margin-right: 10px;
}

.main {
  margin-left: 200px;
}

.app-nav {
  margin-top: 10px;
  text-align: center;
}

.app-nav li {
  display: inline-block;
  padding: 10px;
}

.row {
	padding: 20px 10px 20px 20px;
	background: transparent;
}
.row-condensed {
    padding: 15px 10px 0px 20px;
    background: transparent;
}
.row-extra-padding {
    padding: 40px 20px 20px 30px;
    background: transparent;
}
.row-border {
	padding: 20px 10px 20px 20px;
	border-bottom: solid #eee 1px;
	background: white;
}
.info-links {
	padding: 20px;
}
	.info-links a {
		display:inline-block;
	}
/*.row {
	background:transparent;
	width: 100%;
	margin: 10px 0 30px 0;
}*/

.center-me {
	width: 90%;
	margin: 0 auto;
}
/* da footer*/
footer {	
	position: fixed;
	bottom: 0;
	right: 0;
	display: table-cell;
	vertical-align: bottom;
	color:black;
	padding-top: 5px;
	text-align:right;
	background: white;
	background: rgba(255,255,255,.8);
}
	footer .footer-item {
		display:inline-block;
		background: transparent;
		font-size: .9em;
		color: black;
		margin: 0 10px;
	}
		footer .footer-item p {
			width: 100%;
			word-wrap: break-word;
			font-size:.8em;
			padding:2px;
			margin: 0;
		}

/*Font styles*/
.smaller {
	font-size: .8em;
}
.normal {
	font-size: 1em;
}
.larger {
	font-size: 1.35em;
}
.large-ass {
	font-size: 3em;
}
.gasp-b {
	font-family: Gaspar-Bold;
}
.gasp {
	font-family: Gaspar;
}
.miama {
	font-family: Miama;
}
.pacifico {
    font-family: Pacifico;
}
.capture {
  font-family: Capture;
}
.center {
	text-align: center;
}
.right {
    text-align: right;
}
.sin-black {
	color: #181919;
}
.sin-white {
	color: #fbfffd;
}
.sin-muted {
	color: #bbb;
}
.std-shadow {
 	text-shadow: 2px 0px 2px #888;
}
.less-shadow {
	text-shadow: 1px 0px 1px #888;
}
.no-shadow {
	text-shadow: 0 0 0 #fff;
}
/*Misc pad and margin*/
.pad {
	padding: 10px;
}
.marg {
	margin: 10px;
}


.mint-blue {
	color: #DBFEF8;
}
.blue-ice {
	color: #DAF4F0;
}
/*army uniform is dark*/
.army-uniform {
	color: #353F3E;
}
.muted-moon {
	color: #DBE6E0;
}
.muted-brushed-aluminum {
	color: #B6C5BE;
}
.isle-royale {
	color: #426352;
}
.fishermans-float {
	color: #607C6E;
}
.honeydew {
	color: #F0FFF0;
}


/* Keep emoji scaling with text */
img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}
