
/***
 * Authored January, 2014
 *
 * I Apologize in advance. this stylesheet is really messy.
 * If you feel ambitious, redo it with LESS. It could be about 1/4 the size
 *
 * -BB
 ***/



/***************************
 * Styles for all navbars
 ***************************
 */

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(0,0,0,.4);
}

.divider {
    background-color: #9f885f;
}

/* Styling the links */
.navbar-default .navbar-nav > li > a {
    color: #e7e1d7;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: rgba(0,0,0,.15);
    color: #D6DCE6;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
}
a#navbar-home-font:hover,
a#navbar-home-font:focus {
    background-color: rgba(0,0,0,0);
    color: #D6DCE6;
}

/* Styling the navbar's background color and border */
.navbar-default {
  background-color: #5e0501;
  background-image: -moz-linear-gradient(#5e0501,#7d0701);
  background-image: -o-linear-gradient(#5e0501,#7d0701);
  background-image: -webkit-gradient(linear,0% 0%, 0% 100%, from(#5e0501), to(#7d0701));
  background-image: -webkit-linear-gradient(top,#5e0501,#7d0701);

  border: 0px;
}



/* Styling the dropdowns */


.navbar-default .navbar-nav .dropdown-menu, 
.navbar-default .navbar-nav .dropdown-menu > li > a
{
    text-align: center;
    background-color: rgba(243,240,235,.97);
    color: #585554;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    /* unnecessary border mod
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
    */
}

.navbar-default .navbar-right .dropdown-menu, 
.navbar-default .navbar-right .dropdown-menu > li > a
{
    text-align:center;
    background-color: rgba(243,240,235,.97);
    color: #585554;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    /* unnecessary border mod
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    */
}

.navbar-default .navbar-nav .dropdown-menu > li > a {
    background-color: inherit;
}


.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    background-color:rgba(152,8,2,0);
    color:#f3eceb;
}

.navbar-default .navbar-nav .dropdown-menu > li > a {
    -webkit-transition:background-color .45s linear, color .45s linear;
    -moz-transition:background-color .45s linear, color .45s linear;
    -o-transition:background-color .45s linear, color .45s linear;
    transition:background-color .45s linear, color .45s linear;

    cursor:pointer;
}



.navbar-default .navbar-nav .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .dropdown-submenu > a
{
    background-color: rgba(152,8,2,.91);
    color: #f3eceb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;   
}

.navbar-default .navbar-nav .dropdown-menu .divider 
{
    background-color: rgba(0,0,0,0.2);
}



/****
 * fixed-top specific stylings
 *
 ***/

/* This keeps the nav items vertially centered with our Brand logo */
.navbar-fixed-top .navbar-nav > li > a {
  line-height:35px;
}



.navbar-fixed-top {

  box-shadow: 4px 4px 2px rgba(136,136,136,.7);
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;

  border-top-color: #000;

}

.navbar-fixed-top .navbar-nav {

}

.navbar-fixed-top .navbar-brand {
    color: #e7e1d7;
}

/* Active class not in use for our nav bar */
.navbar-fixed-top .navbar-nav > .active > a,
.navbar-fixed-top .navbar-nav > .active > a:hover,
.navbar-fixed-top .navbar-nav > .active > a:focus {
    /*color: inherit;
    background-color: inherit;*/
}



/*
.navbar-default .navbar-nav  > a,
.navbar-default .navbar-nav  > a:hover,
.navbar-default .navbar-nav  > a:focus {

    color: #4b4848;

    background-color: #e7e1d7;
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 127, color-stop(0%, #e7e1d7), color-stop(100%, #f5f3ef));
    background-image: -webkit-radial-gradient(center center, farthest-corner circle, #e7e1d7 0%, #f5f3ef 100%);
    background-image: -moz-radial-gradient(center center, farthest-corner circle, #e7e1d7 0%, #f5f3ef 100%);
    background-image: -ms-radial-gradient(center center, farthest-corner circle, #e7e1d7 0%, #f5f3ef 100%);
    background-image: -o-radial-gradient(center center, farthest-corner circle, #e7e1d7 0%, #f5f3ef 100%);
    background-image: radial-gradient(farthest-corner circle at center center, #e7e1d7 0%, #f5f3ef 100%);

  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}*/

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #faf9f7;
    /* previously: 726e6d */
}


.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #e7e1d7;
    border-bottom-color: #e7e1d7;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #726e6d;
    border-bottom-color: #726e6d;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #726e6d;
    border-bottom-color: #726e6d;
}

.navbar-default .navbar-toggle {
    border-color: #e7e1d7;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #e7e1d7;
}



/* Bottom breadcrumb trail coloring */
/* Consider making darker */

.navbar-fixed-bottom {

  bottom: 0;

/*
  background-color: #5e0501;
  background-image: -moz-linear-gradient(#5e0501,#7d0701);
  background-image: -o-linear-gradient(#5e0501,#7d0701);
  background-image: -webkit-gradient(linear,0% 0%, 0% 100%, from(#5e0501), to(#7d0701));
  background-image: -webkit-linear-gradient(top,#5e0501,#7d0701);
*/
  background-color: rgba(0,0,0,.45);

  color: #fff;
  font-size: smaller;

  border-color: #5e0501;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Responsivity */
/* this could really use a tune-up at some point */
@media (max-width: 767px) {
   
    .navbar-default .navbar-nav .dropdown-menu > li > a,
    .navbar-default .navbar-nav .dropdown-menu .open > li > a {
	-webkit-transition:background-color .45s linear, color .45s linear;
	-moz-transition:background-color .45s linear, color .45s linear;
	-o-transition:background-color .45s linear, color .45s linear;
	transition:background-color .45s linear, color .45s linear;
	

	cursor:pointer;

        color: inherit;
    }

    .navbar-default .navbar-nav .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .dropdown-menu > li > a:focus,
    .navbar-default .navbar-nav  .open > li > a:hover,
    .navbar-default .navbar-nav  .open > li > a:focus {
        color: #fffcfc;
	background-color:rgba(75,4,1,.92);
    }
}


