@font-face {
  font-family: Amatic-Reg;
  src: url(/fonts/AmaticSC-Regular.ttf);
}
@font-face {
  font-family: Amatic-Bold;
  src: url(/fonts/Amatic-Bold.ttf);
}

@font-face {
  font-family: Capture-It;
  src: url(/fonts/Capture_it.ttf);
}

@font-face {
  font-family: JS-Italic;
  src: url(/fonts/JosefinSans-Italic.ttf);
}
@font-face {
  font-family: JS-SemiBold;
  src: url(/fonts/JosefinSans-SemiBold.ttf);
}

@font-face {
  font-family: LoversQuarrel;
  src: url(/fonts/LoversQuarrel-Regular.otf);
}

@font-face {
  font-family: Ostrich-Reg;
  src: url(/fonts/ostrich-regular.ttf);
}
@font-face {
  font-family: Ostrich-Bold;
  src: url(/fonts/ostrich-bold.ttf);
}
@font-face {
  font-family: Ostrich-Light;
  src: url(/fonts/ostrich-light.ttf);
}

.lovers {
    font-family: LoversQuarrel !important;
}
.Ost-Reg {
  font-family: Ostrich-Reg;
}