@font-face {
	font-family: Gaspar-Bold;
	src: url(./fonts/gaspar/Gaspar_Bold.otf);
}
@font-face {
	font-family: Gaspar;
	src: url(./fonts/gaspar/Gaspar_Regular.otf);
}
@font-face {
	font-family: Miama;
	src: url(./fonts/Miama/Miama.otf);
}
@font-face {
	font-family: Tryst;
	src: url(./fonts/tryst/Tryst-Regular.otf);
}
@font-face {
	font-family: Seaside;
	src: url(./fonts/seaside/SEASRN.ttf);
}
@font-face {
	font-family: Chunk;
	src: url(./fonts/ChunkFive/ChunkFive.otf);
}
@font-face {
	font-family: Pacifico;
	src: url(./fonts/pacifico/Pacifico.ttf);
}

* {
	margin: 0;
}

html, body {
	padding: 0;
	height: 100%;
	font-family: Tryst;
	color: #181919;
}

html {
	background-color: #fff;
	background: radial-gradient(circle, #f5f5f5, #fff);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
body {
	padding-top: 70px;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

/*The meat and or soy of the styles*/
.top-bar {
	position: fixed;
	width: 100%;
	top: 0;
	height: 65px;
	background: white;
	background: rgba(255,255,255,.7);
	padding: 2px;
	z-index: 100;
}
	.top-bar p {
		margin: 0;
		padding: 2px;
		text-align: right;
	}
	.top-bar .left-thing {
		float: left;
	}
		#toggle-button {
			margin: 0;
			padding: 0;
			height: 50px;
			width: 50px;
			border-radius: 50em;
			background-color: white;
			color: lightblue;
			display: table-cell;
			vertical-align: middle;
			font-size: 2.6em;
			text-align: center;
			cursor: pointer;
			margin-left: 0;

			-webkit-transition: all .3s ease-in;
			-moz-transition: all .3s ease-in;
			-ms-transition: all .3s ease-in;
			-o-transition: all .3s ease-in;
			transition: all .3s ease-in;
		}
			#toggle-button.hide-bar {
				color: white;
				background-color: #181919;
				text-shadow: 0 1px 1px #000;
				-webkit-transition: all .3s ease-in;
				-moz-transition: all .3s ease-in;
				-ms-transition: all .3s ease-in;
				-o-transition: all .3s ease-in;
				transition: all .3s ease-in;
			}
		#toggle-button span {
			padding-top: 5px;	
			-webkit-transition: all .6s ease-in;
			-moz-transition: all .6s ease-in;
			-ms-transition: all .6s ease-in;
			-o-transition: all .6s ease-in;
			transition: all .6s ease-in;
		}
		#toggle-button span.flipX-glyph {
			color: lightblue;
			-moz-transform: scaleX(-1);
			-o-transform: scaleX(-1);
			-webkit-transform: scaleX(-1);
			-ms-transform: scaleX(-1);
			transform: scaleX(-1);			
			-webkit-transition: all .55s ease-in;
			-moz-transition: all .55s ease-in;
			-ms-transition: all .55s ease-in;
			-o-transition: all .55s ease-in;
			transition: all .55s ease-in;
		}
		#toggle-button span.flipY-glyph {
			padding-bottom: 8px;
			-moz-transform: rotate(360deg);
			-o-transform: rotate(360deg);
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);				
			-webkit-transition: all .7s ease-in;
			-moz-transition: all .7s ease-in;
			-ms-transition: all .7s ease-in;
			-o-transition: all .7s ease-in;
			transition: all .7s ease-in;
		}

	.top-bar .sin-letters {
		float:left;
		margin: 10px 10px 10px 5px;
		width: 70px;
		height: 60px;
		font-size: .9em;
		display: table-cell;
	}
	.top-bar .sin-letter {
		display: table-cell;
		vertical-align: middle;
		margin: 0;
		padding: 0;
		height: 22px;
		width: 22px;
		color: lightblue;
		text-align: center;
		background: white;
		border-radius: 50em;
		font-family: Seaside;
		text-shadow: 1px 1px 0 black;
		-webkit-transition: all .5s ease-in;
		-moz-transition: all .5s ease-in;
		-ms-transition: all .5s ease-in;
		-o-transition: all .5s ease-in;
		transition: all .5s ease-in;		
	}
	.top-bar .sin-letter.new-bg {
		background: #444;
		color: white;
		-webkit-transition: all .5s ease-in;
		-moz-transition: all .5s ease-in;
		-ms-transition: all .5s ease-in;
		-o-transition: all .5s ease-in;
		transition: all .5s ease-in;
	}

	.top-bar .right-thing {
		float: right;
	}
		.top-bar .right-thing p {
			color: #666;
			font-size: .8em;
			width: 70px;
			text-align: left;
		}
		.top-bar .right-thing a {
			color: #666;
		}
		.top-bar .right-thing a:hover {
			color: #bbb;
		}

.middle-thing {
	position: fixed;
	top: 5px;
	left: 50%;
	z-index:101;
}
	.other-button {
		display: inline-block;
		height: 50px;
		width: 50px;
		text-align:left;
		padding-left: 5px;
		color: #181919;	
		font-family: Pacifico;	
	}
		.other-button a {
			height: 25px;
			width: 25px;
			font-size: .9em;
			border-radius: 50em;
			text-align: center;
			display: table-cell;
			vertical-align: middle;
			color: white;
			border-radius: 50em;
			box-shadow: inset 0 0 2px #888;
			-webkit-transition: all .1s ease-in;
			-moz-transition: all .1s ease-in;
			-ms-transition: all .1s ease-in;
			-o-transition: all .1s ease-in;
			transition: all .1s ease-in;			
		}
		.other-button a.hide-bar {
			color: #181919;
			text-shadow: 0 0 2px #666;			
		}
			.other-button a span {
				padding-left: 0;
				padding-right: 1px;

			}
		.other-button a:hover {
			background: #ddd;
			color: white;
			-webkit-transition: all .1s ease-in;
			-moz-transition: all .1s ease-in;
			-ms-transition: all .1s ease-in;
			-o-transition: all .1s ease-in;
			transition: all .1s ease-in;
		}

.side-bar {
	overflow-y: auto;
	float: left;
	width: 100px;
	padding-top: 10px;
	padding-bottom: 50px;
	margin-right: 50px;
	-webkit-transition: margin .4s ease-in;
	-moz-transition: margin .4s ease-in;
	-ms-transition: margin .4s ease-in;
	-o-transition: margin .4s ease-in;
	transition: margin .4s ease-in;

}
	.side-bar hr {
		margin-top: 5px;
	}
	.side-bar ul {
		list-style-type: none;
		padding-left: 0px;
	}
	.side-bar ul li {
		margin: 0;
		font-weight: bold;
	}
	.side-bar ul li a {
		display:inline-block;
		color: #444;
		margin:0;
		padding:0;
		width: 90px;
		height: 40px;
	}
		.side-bar ul li a:hover {
			color: rgb(0,0,80);
			text-decoration: underline;
		}
		.side-bar ul li a.active {
			color: #ccc;
		}
		.side-bar ul li a.active:hover {
			color: #ccc;
			text-decoration:none;
		}
	.side-bar ul li div {
		border-radius: 2px;		
		padding-left: 5px;
		display: table-cell;
		vertical-align: middle;
		text-align: left;
		background: transparent;
	}
	.side-bar.hide-bar {
		margin-left: -150px;
		-webkit-transition: margin .4s ease-in;
		-moz-transition: margin .4s ease-in;
		-ms-transition: margin .4s ease-in;
		-o-transition: margin .4s ease-in;
		transition: margin .4s ease-in;
	}

header {
  width: 100%;
  background: transparent;
  padding: 0;
}

	header .app-name {
		float: left;
		margin-left: 120px;
		padding-right: 25px;
		margin-bottom: -5px;
		font-family: Chunk;
		font-size: 2.3em;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-ms-transition: all .5s;
		-o-transition: all .5s;
		transition: all .5s;
	}
		header .app-name.hide-bar {
			margin-left: 10px;
			-webkit-transition: all .5s;
			-moz-transition: all .5s;
			-ms-transition: all .5s;
			-o-transition: all .5s;
			transition: all .5s;
		}
	header .app-nav {
		float: right;
		background: transparent;
		padding: 10px 2px 0 0;
		font-family: Pacifico;
	}
		header .app-nav ul {
			list-style-type: none;
			padding: 0;
		}
		header .app-nav li {
			float: left;
			margin-bottom: 0;
		}
			header .app-nav li div {
				height: 30px;
				width: 60px;
				text-align: center;
				padding:5px;
				padding-bottom: 0;
				background: transparent;
				color: #393838;
				-webkit-transition: all .2s ease-in;
				-moz-transition: all .2s ease-in;
				-ms-transition: all .2s ease-in;
				-o-transition: all .2s ease-in;
				transition: all .2s ease-in;
			}
			header .app-nav li div:hover {
				background: #eee;
				border-radius: 10em;
				-webkit-transition: all .2s ease-in;
				-moz-transition: all .2s ease-in;
				-ms-transition: all .2s ease-in;
				-o-transition: all .2s ease-in;
				transition: all .2s ease-in;
			}

	header hr {
		clear: both;
		margin-top: 1px;
		margin-bottom: 1px;
	}
.big-wrap {
	height: auto;
	overflow: hidden;
}
.main {
	background: transparent;
	float:none;
	width:auto;
	overflow:hidden;
}
.row {
	padding: 20px 10px 20px 20px;
	border-bottom: solid #eee 1px;
}
.info-links {
	padding: 20px;
}
	.info-links a {
		display:inline-block;
	}
/*.row {
	background:transparent;
	width: 100%;
	margin: 10px 0 30px 0;
}*/

.center-me {
	width: 90%;
	margin: 0 auto;
}
/* da footer*/
footer {	
	position: fixed;
	bottom: 0;
	width:100%;
	display: table-cell;
	vertical-align: bottom;
	color:black;
	padding-top: 5px;
	text-align:right;
	background: #eee;
	background: rgba(210,210,210,.65);
}
	footer .footer-item {
		display:inline-block;
		background: transparent;
		font-size: .9em;
		color: black;
		margin: 0 10px;
	}
		footer .footer-item p {
			width: 100%;
			word-wrap: break-word;
			font-size:.8em;
			padding:2px;
			margin: 0;
		}

/*Font styles*/
.smaller {
	font-size: .8em;
}
.normal {
	font-size: 1em;
}
.larger {
	font-size: 1.35em;
}
.large-ass {
	font-size: 3em;
}
.gasp-b {
	font-family: Gaspar-Bold;
}
.gasp {
	font-family: Gaspar;
}
.miama {
	font-family: Miama;
}
.center {
	text-align: center;
}
.sin-black {
	color: #181919;
}
.sin-white {
	color: #fbfffd;
}
.sin-muted {
	color: #bbb;
}
.std-shadow {
 	text-shadow: 2px 0px 2px #888;
}
.less-shadow {
	text-shadow: 1px 0px 1px #888;
}
.no-shadow {
	text-shadow: 0 0 0 #fff;
}
/*Misc pad and margin*/
.pad {
	padding: 10px;
}
.marg {
	margin: 10px;
}


.mint-blue {
	color: #DBFEF8;
}
.blue-ice {
	color: #DAF4F0;
}
/*army uniform is dark*/
.army-uniform {
	color: #353F3E;
}
.muted-moon {
	color: #DBE6E0;
}
.muted-brushed-aluminum {
	color: #B6C5BE;
}
.isle-royale {
	color: #426352;
}
.fishermans-float {
	color: #607C6E;
}
.honeydew {
	color: #F0FFF0;
}
