{% extends "elections/elec-base.html" %}

{% block stylesheets %}
{{block.super}}
<link href="/css/webapps/elections/elections-style.css" rel="stylesheet" />
{% endblock %}

{% block content %}
{{block.super}}
  {% if vote_success %}
    <div class="alert alert-success">
      <h1> Congrats! Your vote was submitted. </h1>
      <p> ~ <em>Your voice matters</em> ~ </p>
    </div>
  {% endif %}
  <div class="container-narrow">
    <div class="jumbotron">
    {% if elections_toVote or elections_hasVoted %}
      <h1>A Wild Election Appeared!</h1>
        <p> 
	  Get in there, tiger. 
	</p>

<p>You can find the elections blurbs from the candidates <a href="http://www.reedquest.org/fall-2014-elections-candidate-blurbs/">here</a> on <i>The Quest</i> website.</p>

<p>Student body elections use one of two voting systems depending on the type of election: Single transferable voting is used for positions with multiple spots open, such as student body senators, and instant-runoff voting is used for when there is only one spot, such as student body president.</p>

<p>When you vote, you will rank multiple candidates in order of preference, rather than simply voting for a single candidate. You do not have to rank every candidate. You may also write in candidates who are not on the ballot using their Reed username (what appears before the @ in their email address; you can look this up in <a href="https://iris.reed.edu/campusdirectory.taf" target="_blank">IRIS</a>).<p>

<p><strong>Candidates for different offices are elected separately. A vote for a candidate for one position does not indicate support for candidates for other positions.</strong></p>

<p>Depending on the election, you may be given one or both of the options of <strong>quorum</strong> and <strong>no quorum</strong>. <strong>Voting quorum, voting no quorum, and ranking candidates are mutually exclusive; you can only choose one of the three.</strong> Voting <strong>quorum</strong> means you support the results of the election but do not support any of the candidates. Ranking any of the candidates also indicates that you support the results of the election. Voting <strong>no quorum</strong> indicates that you do not support the outcome of the election.</p>

<p>For an election for a given position to be considered legitimate, at least 25% of the student body must support the outcome, either by ranking candidates or voting quorum. Not voting or choosing no quorum is essentially a vote for having another election for the position.</p>

<p>For more information, feel free to check out the <a href="http://sin.reed.edu/senate/SBElectionsBylaws" target="_blank">Student Body Elections Bylaws</a> and <a href="http://sin.reed.edu/senate/SingleTransferableVotingRules" target="blank">Reed College Rules of Single Transferable Voting</a>. There is also a popular YouTube video explaining <a href="https://www.youtube.com/watch?v=l8XOZJkozfI&list=UU2C_jShtL725hvbm1arSV9w" target="blank">STV called Politics in the Animal Kingdom: Single Transferable Vote</a>.</p>

<p>If you are having trouble with the voting system, please contact the SIN Webmasters at <a href="mailto:sin@lists.reed.edu?Subject=Help!" target="_top">sin@lists.reed.edu</a>.</p>




      <hr />
      <table class="table table-hover">
	{% for e in elections_toVote %}
          <tr>
            <td> {{ e.position }} </td>
	    <td>
	      <a class="btn btn-large btn-success" 
		 href="/webapps/elections/vote/{{ e.id }}/">Vote Now</a>
	    </td>
	  </tr>
	{% endfor %}

	{% for e in elections_hasVoted %}
          <tr>
            <td> {{ e.position }} </td>
	    <td>
	      <b> You already voted! </b>
	    </td>
	    <!-- commenting out results for now
	    <td>
	      <a class="btn btn-large btn-info" href="/webapps/elections/results/{{ e.id }}">Results</a>
	    </td> -->
	  </tr>
	{% endfor %}
      </table>
    {% else %}
      <h1>It is not Election Season!</h1>
      <hr />
      <p>Now, get the eff outta here.</p>
    {% endif %}
    </div><!-- jumbotron -->
  </div> <!-- container-narrow -->

{% endblock %}
