{% extends "elections/elections-base.html" %}

{% block src-javascript %}
{% load static %}
<script src="{% static 'js/elections/check_votes.js' %}"></script>

<script>
// Function to check whether username is valid.
// Runs the given function when the request comes in.
function check_user(username, onReadyFunc) {
    var xmlhttp;

    if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
	xmlhttp=new XMLHttpRequest();
    } else {// code for IE6, IE5
	xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }

    xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            onReadyFunc(xmlhttp.ResponseText);
        }
    }
    xmlhttp.open("GET","{% url 'generic.views.check_user' %}/?username=" + username,true);
    xmlhttp.send();
}

</script>


{% endblock %}

{% block content %}
<div class="col-md-12">

<div class="jumbotron" style="background-image: 
url('{% static 'images/elections/senate.jpg' %}');
background-size: cover; background-position: center;">
  <h1 style="color: white;">Student Body Elections</h1>
  <p class="lead" style="color: white;">Where you get to choose who represents you.</p>
</div>

<h2>Vote</h2>
<p>Rank candidates such that "1" indicates your highest preference, “2” your
second-highest, etc.</p>

<p><strong>You do not have to rank every candidate.</strong> Only rank
candidates you want to see in office.</p>

<p>Ranking candidates, voting quorum, and voting no quorum are mutually
exclusive; </strong>you can only do one of the three.</strong> Voting quorum
indicates that you support the outcome of the election but do not support any of
the candidates. Voting no quorum indicates that you do not support the outcome
of the election and want another election to be held.</p>

<p>You may also write in candidates who are not on the ballot using their Reed
username (what appears before the @ in their email address; you can look this up
in <a href="https://iris.reed.edu/campusdirectory.taf" target="_blank">IRIS</a>)
.</p>

<p>Candidates for different offices are elected separately.</p>




<form class="submit-vote-form" 
      method="post" 
      action="{% url 'elections.views.submit_vote' %}">

{% csrf_token %}
{% comment %}
This is for testing purposes (trying to get the blub accordion to work)

<fieldset election="test-election">
<h3>Test Position</h3>


<table id="candidateTable" class="table table-responsive">

<tr>
Quorum Options: 
<label>
  <input type="radio" name="quorum-test-election" value="vote" checked="checked"/>
  Vote
</label>
&nbsp;
<label>
  <input type="radio" name="quorum-test-election" value="quorum"/>
  Quorum, no votes
</label>
&nbsp;
<label>
  <input type="radio" name="quorum-test-election" value="noquorum"/>
  No Quorum
</label>
</tr>
<thead>
  <tr>
    <th> Your Rank </th>
    <th> Candidate Name </th>
    <th> Blurb </th>
    <th style="visibility:hidden;"> Candidate Username </th>
  </tr>
</thead>
<tbody>
  <tr class="vote_info">
    <td>
      <input class="vote_rank"
       name="test-election-c1"
       type="number" 
       min="1"
       max="{{election.candidate_set|length|add:1}}" />
    </td>
    <td class="cand_name"> C1 </td>
    <td style="width:50%">
      <a data-toggle="collapse" data-target="#blurb">
        Read More
      </a>
    <div id="blurb" class="collapse"> Readymade kogi chambray mustache hoodie, meditation High Life. Blue Bottle aesthetic viral, art party literally taxidermy umami hoodie tousled Etsy. Pug Brooklyn Tumblr aesthetic wolf, gentrify mlkshk selfies retro ethical Shoreditch letterpress hashtag. Bespoke viral shabby chic Vice. Tofu cold-pressed put a bird on it, wayfarers Neutra umami Banksy Williamsburg sartorial. Tumblr cornhole hashtag raw denim umami cardigan. Twee craft beer High Life Neutra.
    </div>
    </td>
  </tr>
  <tr class="vote_info">
    <td>
      <input class="vote_rank"
       name="test-election-c2"
       type="number" 
       min="1"
       max="{{election.candidate_set|length|add:1}}" />
    </td>
    <td class="cand_name"> C2 </td>
    <td class= "blurb">C2Blurb</td>
  </tr>
</tbody>
</table>

<p style="color: red"> {{ validate_error }} </p>

</fieldset>

</form>
{% endcomment %}

{% for election in open_elections %}
<fieldset election="{{election.id}}">
<h3>{{ election.position }}</h3>


<table id="candidateTable" class="table table-responsive">

<!-- QUORUM OPTION -->
{% if election.quorumOption %}
<tr>
Quorum Options: 
<label>
  <input type="radio" class="radio-quorum"
	 name="quorum-{{election.id}}" value="vote" checked="checked"/>
  Vote
</label>
&nbsp;
<label>
  <input type="radio" class="radio-quorum"
	 name="quorum-{{election.id}}" value="quorum"/>
  Quorum, no votes
</label>
&nbsp;
<label>
  <input type="radio" class="radio-quorum"
	 name="quorum-{{election.id}}" value="noquorum"/>
  No Quorum
</label>
</tr>
{% endif %}
<thead>
  <tr>
    <th> Your Rank </th>
    <th> Candidate Name </th>
    <th> Blurb </th>
    <th style="visibility:hidden;"> Candidate Username </th>
  </tr>
</thead>
  {% for candidate in election.candidate_set.all %}
  <tr class="vote_info">
    <td>
      <input class="vote_rank"
	     name="{{election.id}}-{{candidate.id}}"
	     type="number" 
	     min="1"
	     max="{{election.candidate_set|length|add:1}}" />
    </td>
    <td class="cand_name"> {{candidate.name}} </td>
    <td style="width:50%">
      <a data-toggle="collapse" data-target="#blurb-{{candidate.id}}">
        Read Blurb
      </a>
    <div id="blurb-{{candidate.id}}" class="collapse"> {{candidate.blurb}}</div>
    </td>
  </tr>
  {% endfor %}
  {% if election.writeInOption %}
  <!-- Add in row for write-in option -->
  <tr id="writein">
    <td>
      <input class="vote_rank"
       id="writeinRank" 
       type="number"
       min="1"
       max="{{election.candidate_set|length|add:1}}" />
    </td>
    <td>
      <label class="form-group has-success has-feedback">
        Reed username of write-in candidate <br/>
        <input id="writeinUser" class="form-control" aria-describedby="inputSuccess2Status">
      <label>
    </td>
  </tr>
  {% endif %}
</table>

<div class="alert alert-danger" role="alert" style="display:none;">Hello world!</div>

</fieldset>
{% endfor %}

<button type="submit" class="btn btn-primary">Submit Votes</button>


</form>
</fieldset>





</div>

{% endblock %}
