{% extends "bb-base.html" %}

{% block html-title %}appointments committee{% endblock %}

{% block stylesheets %} 

{% endblock %}

{% block fancy-header %}appointments{% endblock %}

{% block app-nav %}
	<li class=""><a href="/webapps/appointments/"><div>home</div></a></li>
	<li class=""><a href="/webapps/appointments/my_applications/"><div>my apps</div></a></li>
	<li class=""><a href="/webapps/appointments/open_positions/"><div>openings</div></a></li>
	<li class=""><a href="/webapps/appointments/admin/"><div>admin</div></a></li>
{% endblock %}

