{% extends "appointments/appointments-base.html" %}

{% block content %}
  <div class="row-extra-padding">
    <h2 class="">
      welcome to the appointments committee's web app
    </h2>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <p class="lead text-muted">apply for shtuff!</p>
    </div>
    <div class="col-sm-9">
      <p class="">
	       this is the place to 
         create and edit your applications for student body appointments
	         <p>
	           <a class="btn btn-default" href="/webapps/appointments/open_positions">
               view open positions &raquo;
              </a>
	           <a class="btn btn-default" href="/webapps/appointments/my_applications">
               view my applications &raquo;
             </a>
	         </p>
	     </p>
        </div>

        </div>
      </div>

{% endblock %}
