{% extends "appointments/appointments-base.html" %}

{% block on-load %}
  var name="{{app.applicant}}";
  $(".name").text(name.split(" ")[0]);
{% endblock %}


{% block content %}
<div class="row">
<div class="col-md-4">
  <h2 class="">{{ app.position.name }}
   <span class="text-muted smaller">({{ app.applicant }})</span>
  </h2>
  <p class="lead">
        <span class="name"></span> is a <strong>
        {% ifequal app.year 0 %}
        Freshman</strong>,
        {% endifequal %}
        {% ifequal app.year 1 %}
        Sophomore</strong>,
        {% endifequal %}    
        {% ifequal app.year 2 %}
        Junior</strong>,
        {% endifequal %}    
        {% ifequal app.year 3 %}
        Senior</strong>,
        {% endifequal %}
	Majoring in <strong>{{app.major}}</strong>.
  </p>
  <p> You can email <span class="name"></span> about this application at 
    <a href="mailto:{{app.email}}?Subject=Your%20{{app.position.name}}%20Application">{{app.email}}</a>.
  </p>
</div> <!-- /.col-lg-5 ... -->
<div class="col-md-8">
 <p class="lead">&nbsp;</p> <!-- for aesthetics / alignment -->
 <div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <td class="table-header">Preferred Pronouns</td>
      <td>{{app.preferred_pron}}</td>
    </tr>
    <tr>
      <td class="table-header">Phone</td>
      <td>{{app.phone}}</td>
    </tr>
    <tr>
      <td class="table-header">Address</td>
      <td> {{ app.address }} </td>
    </tr>
    <tr>
      <td class="table-header"> Schedule Conflicts on Sun. and Weds. Evenings</td>
      <td> {{app.schedule_conflicts|safe}} </td>
    </tr>
    <tr>
      <td class="table-header"> Other Reed Positions </td>
      <td> {{app.other_reed_positions|safe}} </td>
    </tr>
    <tr>
      <td class="table-header"> Other Employment </td>
      <td> {{app.other_employment|safe}}</td>
    </tr>
    <tr>
      <td class="table-header"> Experience </td>
      <td> {{ app.experience }}</td>
    </tr>
    <tr>
      <td class="table-header"> Motivation </td>
      <td> {{ app.motivation }}</td>
    </tr>
    <tr>
      <td class="table-header"> Special Skills </td>
      <td> {{ app.special_skills }}</td>
    </tr>
    <tr>
      <td class="table-header"> Additional Comments </td>
      <td> {{ app.appeal }}</td>
    </tr>
  </table>
 </div>
</div> <!-- /.col-md-8 ... -->
</div> <!-- /.row -->
{% endblock %}
