<nav class="side-bar">
        <ul>
        <li>
                <a href="{% url 'index' %}" class="" id="home-link">
                        <div>
                                <span class="glyphicon glyphicon-home"></span>
                        </div>
                        <div class="">Home</div>
                </a>
        </li>
        <li>
                <!-- The wiki is a separate entity, so open in a new tab / window -->
                <a href="/senate/" target="_blank">
                        <div>
                                <span class="glyphicon glyphicon-globe"></span>
                        </div>
                        <div class="">Wiki</div>
                </a>
        </li>
        <li>
                <a href="{% url 'appointments.views.index' %}" class="">
                        <div>
                                <span class="glyphicon glyphicon-tower"></span>
                        </div>
                        <div class="">Appointments</div>
                </a>
        </li>
        <li>
                <a href="{% url 'organizations.views.index' %}" class="">
                        <div>
                                <span class="glyphicon glyphicon-paperclip"></span>
                        </div>
                        <div class="">Organizations</div>
                </a>
        </li>
        <li>
                <a href="{% url 'finance.views.index' %}" class="">
                        <div>
                                <span class="glyphicon glyphicon-usd"></span>
                        </div>
                        <div class="">Finances</div>
                </a>
        </li>

        <li>
                <a href="{% url 'fundingpoll.views.index' %}" class="">
                        <div>
                                <span class="glyphicon glyphicon-stats"></span>
                        </div>
                        <div class="">Funding&nbsp;Poll</div>
                </a>
        </li>
        <li>
                <a href="{% url 'elections.views.index' %}" class="">
                        <div>
                                <span class="glyphicon glyphicon-bullhorn"></span>
                        </div>
                        <div class="">Elections</div>
                </a>
        </li>
        <li>
                <a href="{% url 'sos_grant:index' %}" class="">
                        <div>
                                <span class="glyphicon glyphicon-sunglasses"></span>
                        </div>
                        <div class="">Grants</div>
                </a>
        </li>
        </ul>
</nav>
