<div class="top-bar">
        <div id="toggle-button" class="left-thing" onclick="toggle_sidebar();">
                        <span class="glyphicon glyphicon-fire"></span>
        </div>
        <div class="sin-letters">
                <div class="sin-letter">
                        s
                </div>
		<div class="sin-letter">
                        i
                </div>
                <div class="sin-letter">
                        n
                </div>
		<p class="">
		  <em>click the fire!</em>
		</p>
        </div>
        <div class="right-thing">
                <p class="smaller">
                        <span class="glyphicon glyphicon-user"></span>
                        {{user.username}}
                <br />
                        <a href="/webapps/logout">
                                <span class="glyphicon glyphicon-plane"></span>
                                Logout
                        </a>
                </p>
        </div>
</div> <!-- /.top-bar -->
