.object-div { 
   overflow: hidden;
 }

.object-div-textarea-title { 
                             width: 500px;
                             text-align: left;
 }

.object-div-title { 
  width: 210px;
  text-align: right;
  margin-right: 5px;
 }

.object-div-textarea { 
  float: left;
 }

.object-div-title { 
                      padding-top: 4px;
 }