.greeting {
    opacity: 1;
        -webkit-transition: opacity 1s ease-in;
        -moz-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
        -o-transition: opacity 1s ease-in;
        transition: opacity 1s ease-in;
}
.greeting.hide-o{
    opacity: 0;
        -webkit-transition: opacity 1s ease-in;
        -moz-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
        -o-transition: opacity 1s ease-in;
        transition: opacity 1s ease-in;
}
h1.hello {
    padding-top: 50px;
    text-align: center;
    font-size: 4em;
    font-family: Pacifico;
}
h2.iam {
    text-align: center;
    font-family: Pacifico;
    font-size: 2em;
    color: #777;
    padding-bottom: 5px;
}
.home-info-section {
  display: none;
}