
.object-div { 
              padding-top: 1px;
              padding-bottom: 1px;
 }

.object-div-input { 
                    width: 300px;
 }

.object-div-title, .object-div-textarea-title { 
                                                margin-top: 2px;
                                                width: 200px;
 }

.object-div-textarea { 
                       width: 304px;
 }

.object-div-content, .object-div-textarea-content { 
                                                   width: 200px;
 }
