<!doctype html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="sin sinning sinful evil devil morality">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>s i n | {% block html-title %}{% endblock %}</title>

    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bb-redux/bb-main.css' %}" rel="stylesheet">

    {% block stylesheets %}
    {% endblock %}

    <script src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'js/bb-redux/bb-main.js' %}"></script>
    <script src="{% static 'underscore/underscore-min.js' %}"></script>
    <script src="//twemoji.maxcdn.com/twemoji.min.js"></script>

    {% comment %}
      There are three blocks for including additional JavaScript here:

      1. on-load
      2. raw-javascript
      3. src-javascript
    {% endcomment %}

    <script>
      $(document).ready(function(){
	classify_active_nav();  // from bb-main.js

	{% block on-load %}
	{% endblock %}
      });

      {% block raw-javascript %}
      {% endblock %}
    </script>

    {% block src-javascript %}
    {% endblock %}

    {% block head %}
    {% endblock %}
  </head>

  <body>
    {% include "includes/sidebar.html" %}

    <div class="main">
      <div class="main-header">
	<div class="app-nav">
	  <ul>
	  </ul>
	</div>
      </div>

      <div class="container-fluid">
	{% block content %}
	  {% comment %}
	    Main content goes here. Use the [Bootstrap grid system][0] for layout.

	    [0]: http://getbootstrap.com/css/#grid
	  {% endcomment %}
	{% endblock %}
      </div>
    </div>

    {% include "includes/footer-redux.html" %}

    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <script>
      // Emoji!
      twemoji.parse(document.body);
    </script>

    {% block extra-js %}
    {% endblock %}
  </body>
</html>
