.object-div { 
              overflow: hidden;
 }

.object-div-textarea-title { 
                             width: 300px;
 }

.object-div-textarea { 
                       height: 100px;
                       width: 450px;
 }