.budget-header-div { 
                     height: 100px;
                     overflow: hidden;
 }

.budget-header-div-left { 
                   float: left;
 }

.budget-header-div-right { 
                    float: right;
 }
