{% extends "organizations/organizations-base.html" %}

{% block content %}
<div class="row-extra-padding">
<div class="col-md-8 col-md-offset-2">
    <!-- messages for user -->
    {% if messages %}
    <section class="messages">
        {% for message in messages %}
        <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
            {{ message|safe }}
        </div>
        {% endfor %}
    </section>
    {% endif %}

<form method="post"
      action="{% url 'organizations.views.change_signator_post' o.id %}">
{% csrf_token %}
<h3 class="featurette-heading">Enter the New Signator's Reed Username</h3> 
<input id="signator" type="text" class="form-control" name="signator" placeholder="E.g, {{user.username}} for you "/>
<input class="btn btn-primary btn-block" type="submit"/>
</form>
</div> <!-- /.col-md-8 ... -->
</div> <!-- /.row -->
{% endblock %}
