{% extends "bb-base.html" %}

{% block html-title %}organization manager{% endblock %}

{% block fancy-header %}org manager{% endblock %}

{% block app-nav %}
	<li class=""><a href="/webapps/organization-manager/"><div>home</div></a></li>
	<li class="">
		<a href="/webapps/organizations/my_organizations/edit/?"><div>create</div></a>
	</li>	
	<li class=""><a href="/webapps/organization-manager/my-organizations"><div>my orgs</div></a></li>
	<li class=""><a href="/webapps/organization-manager/orgs/html-list"><div>all orgs</div></a></li>
{% endblock %}


