{% extends "organizations/organizations-base.html" %}

{% block content %}
<div class="row">
    <a href="{% url 'organizations.views.index' %}">
        <span class="glyphicon glyphicon-menu-left"></span>&nbsp;back to organization manager
    </a>
    <h2>{{org.name}}</h2>
    <hr>
    <div class="col-md-5">
        
        <p class="lead">{{ org.description }}</p>
        
        <table class="table table-hover">
            <tr>
	        <td><span class="glyphicon glyphicon-briefcase"></span>&nbsp; Signator </td>
	        <td>
                    <a href="mailto:{{org.email}}"
                       target="_top">{{ org.signator.get_full_name }}</a>
                    ({{ org.email }})
	        </td>
	    </tr>
            <tr>
	        <td><span class="glyphicon glyphicon-share"></span>&nbsp; Website / FB Group </td>
	        <td>
                    <a href="{{org.website}}" target="_blank">{{ org.website }}</a>
	        </td>
	    </tr>
            <tr>
	        <td><span class="glyphicon glyphicon-calendar"></span>&nbsp; Meetings </td>
	        <td>
                    {{ org.meeting_info }}
	        </td>
	    </tr>
            <tr>
	        <td><span class="glyphicon glyphicon-info-sign"></span>&nbsp; Annual Events </td>
	        <td>
                    {{ org.annual_events }}
	        </td>
	    </tr>
            <tr>
                <td><span class="glyphicon glyphicon-globe"></span>&nbsp; Partner Orgs</td>
	        <td>{{org.associated_off_campus_organizations}}</td>
            </tr>

        </table>

    </div>
    <div class="col-md-7">
        {% if in_fp %}
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Funding Poll</h3>
                {% if fp_is_closed %}
                <div class="btn-group" role="group">
                    <span class="btn btn-primary">{{ fp_org.total_votes }}</span>
                    <span class="btn btn-default">❤️ &nbsp;{{ fp_org.top_six }}</span>
                    <span class="btn btn-default">👍 &nbsp;{{ fp_org.approve }}</span>
                    <span class="btn btn-default">😐 &nbsp;{{ fp_org.no_opinion }}</span>
                    <span class="btn btn-default">👎 &nbsp;{{ fp_org.disapprove }}</span>
                    <span class="btn btn-default">😡 &nbsp;{{ fp_org.deep_six }}</span>
                </div>
                <hr>
                <p>
                    <a href="{% url 'fundingpoll.views.view_results' %}">
                        <span class="glyphicon glyphicon-menu-right"></span>&nbsp;
                        View full results
                    </a>
                </p>
                {% else %}
                <p>This organization is registered for Funding Poll. Check back here
                for this organization's results later!</p>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% if budgets %}
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Finance Committee Budgets</h3>


                <table class="table table-hover">
                    <tr class="table-header-alt" id="table-header-bg">
                        <td>
                            <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                            Created
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-euro"></span>&nbsp;
                            Requested
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-usd"></span>
                            Allocated
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-edit"></span>&nbsp;
                            Modified
                        </td>
                    </tr>
                {% for budget in budgets %}
                    <tr>
                        <td>
                            <a href="{% url 'finance.views.view_one_budget' budget.id %}">
                                {{ budget.created_on|date:"H:i M d, Y" }}
                            </a>
                        </td>
                        <td>${{ budget.requested }}</td>
                        <td>${{ budget.allocated }}</td>
                        <td>{{ b.modified_on|date:"H:i m-d-Y" }}</td>
                    </tr>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
